In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()
df = spark.read.json('people.json')
# createOrReplaceTempView('people') method will create or replace the existing data with new hive table
df.createOrReplaceTempView('avocado')
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [3]:
city = 'Los Angeles'
city.find('x')

-1