In [1]:
# Import libraries

import pandas as pd
import numpy as np
import datetime as dt
import time
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
#from pyspark.sql.functions import *
from timeit import default_timer as timer
from pyhive import hive
import os
from library_synapsev2 import *

In [2]:
#import pyspark
#import required modules
#from pyspark import SparkConf, SparkContext
#from pyspark.sql import SparkSession
 
#Create spark configuration object
conf = SparkConf()
conf.setMaster("local").setAppName("My app")
 
#Create spark context and sparksession
sc = SparkContext.getOrCreate(conf=conf)
spark = SparkSession(sc)
#set variable to be used to connect the database

server_name = "jdbc:sqlserver://mfcsynap-sea-ngedl-nonprod-02.sql.azuresynapse.net:1433;database=ngenedlkhsqlpool02;user=sqladminuser@mfcsynap-sea-ngedl-nonprod-02;password={your_password_here};encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.sql.azuresynapse.net;loginTimeout=30;"
database_name = "ngenedlkhsqlpool02"
url = server_name + "," + "databaseName=" + database_name + ";"

#table_name ="curated.cip_kh_polclm_owndp"
username ="sqladminuser"
password="P@ssw0rd"

In [3]:
# Set schema, table, and primary key names

db_nm = "raw"
tbl_list = ["ttrxn_histories"]
primary_key = "POL_NUM"

In [4]:
# Get primary key metadata 

dm_primary_key_temp = pd.DataFrame(columns=["column_name", "column_value", "freq"])
dm_primary_key = pd.DataFrame()

temp_key_list = []

for tbl in tbl_list:
    ts = timer()
    
    dm_primary_key_temp = check_primary_key(primary_key, db_nm, tbl, url, db_nm + "." + tbl, username, password)
    
    temp_key = spark.sql(f'select "{db_nm}" as schema_name, "{tbl}" as table_name, "{primary_key}" as primary_key, {primary_key} as keys from {db_nm}.{tbl} group by {primary_key}', conn)
    temp_key = temp_key.toPandas()
    temp_key_list.append(temp_key)
    
    if len(dm_primary_key_temp) > 0:
        dm_primary_key = dm_primary_key.append(dm_primary_key_temp)
    else:
        dm_primary_key = dm_primary_key.append(pd.DataFrame([[np.nan, np.nan, np.nan]]))#,ignore_index = True))
         
    print('Metadata for ', tbl, ' is finished. Time consumed:', timer()-ts, ' secs')

Metadata for  ttrxn_histories  is finished. Time consumed: 15.757764230947942  secs

In [5]:
# Check

dm_primary_key

  schema_name       table_name       measure column_value     freq
0         raw  ttrxn_histories  unique count  primary key   132116
0         raw  ttrxn_histories  record count               2717142
0         raw  ttrxn_histories   field count                    21

In [10]:
# Extract primary key metadata

dm_primary_key.to_csv('synapse_metadata_primary_key.csv',index=False)
pd.concat(temp_key_list, axis=0).sort_values(['schema_name', 'table_name', 'keys']).to_csv('dynamic_metadata_primary_key.csv', index=False)

In [7]:
# Get other data types metadata 

dm_temp1 = pd.DataFrame(columns=["schema_name", "table_name", "column_name", "column_value", "freq"])
dm_temp2 = pd.DataFrame(columns=["schema_name", "table_name", "column_name", "column_value", "freq"])
dm_temp3 = pd.DataFrame(columns=["schema_name", "table_name", "column_name", 'date_type', "column_value", "freq"])

dm_cat = pd.DataFrame()
dm_num = pd.DataFrame()
dm_date = pd.DataFrame()

for tbl in tbl_list:
    ts = timer()
    
    dm_temp1, dm_temp2, dm_temp3 = check_data_types(primary_key, db_nm, tbl, url, db_nm + "." + tbl, username, password)
    
    if len(dm_temp1) > 0:
        dm_cat = dm_cat.append(dm_temp1)
    else:
        dm_cat = dm_cat.append(pd.DataFrame([[np.nan, np.nan, np.nan, np.nan, np.nan]],columns=dm_cat.columns))
    
    if len(dm_temp2) > 0:
        dm_num = dm_num.append(dm_temp2)
    else:
        dm_num = dm_num.append(pd.DataFrame([[np.nan, np.nan, np.nan, np.nan, np.nan]]))#,ignore_index = True))

    if len(dm_temp3) > 0:
        dm_date = dm_date.append(dm_temp3)
    else:
        dm_date = dm_date.append(pd.DataFrame([[np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]],columns=dm_cat.columns))
         
    print('Metadata for ', tbl, ' is finished. Time consumed:', timer()-ts, ' secs')

Metadata for  ttrxn_histories  is finished. Time consumed: 198.85663210507482  secs

In [8]:
# Check

dm_date.head()

  schema_name       table_name column_name date_type column_value   freq
0         raw  ttrxn_histories    PD_TO_DT      year         2007      1
1         raw  ttrxn_histories    PD_TO_DT      year         2018  61228
2         raw  ttrxn_histories    PD_TO_DT      year         2015  11533
3         raw  ttrxn_histories    PD_TO_DT      year         2022  61592
4         raw  ttrxn_histories    PD_TO_DT      year         2013   3270

In [9]:
# Extract date metadata

dm_cat.to_csv('synapse_metadata_categorical.csv',index=False)
dm_num.to_csv('synapse_metadata_numeric.csv',index=False)
dm_date.to_csv('synapse_metadata_date.csv',index=False)